body {
    background-image: url("img/bgimage2.jpg");
    background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    position: relative;
    font-family: 'Avenir';
    font-size: 1.5vw;
    }

img.banner {
	width: 100%;
	margin-bottom:-4%;
	display: block;
    border-bottom: 5%;
	}

div.backg {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 2%;
	display: block;
	background-color: white;
	box-shadow: -4px 4px 10px black, 4px 4px 10px black;
	}

div.whitediv {
	width: 100%;
	height:30%;
	min-height: 30%;
	margin-left: auto;
	margin-right: auto;
    padding-bottom: 0.1%;
    padding-top: 0.1%;
	display: block;
	clear: both;
	}

div.greydiv {
	background-color: rgb(240,240,240);
	width: 100%;
	height:30%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 0.1%;
	padding-bottom: 0.1%;
	clear: both;
	}

p.homep {
	display: block;
	clear:both;
	}

p.homepara {	
	display:block;
	clear:both;
	margin: 5%;
	}

div.whitedivhome { 
	width: 100%;
	height:30%;
	min-height: 30%;
	margin-left: auto;
	margin-right: auto;
    padding-bottom: 0.1%;
    padding-top: 0.1%;
	display: block;
	clear: both;
	text-align:center;
}

div.greydivhome {
	background-color: rgb(240,240,240);
	width: 100%;
	height:30%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 0.1%;
	padding-bottom: 0.1%;
	clear: both;
	text-align: center;
}

/**Menubar code **/
	
#menubar {
	text-align:center;
	font-family:"avenir";
	font-size:5vw;
	font-size:3vh;
	margin-left:auto;
	margin-right:auto;
    width: 100%;
}

#selected-item { 
    text-decoration:overline;			
}

.menu {
	display:inline;
	padding:1.5%;
	width:100%;
}

#menubar a {
    margin-top:1%;
    margin-bottom:1%;
    display:inline-block;
    text-decoration:inherit;
    color:#FFFFFF;
    opacity:.7;
}

#menubarbackground { 		
    width:100%;
    background: linear-gradient(#D7CCB9,#B99E6B); 
    position: relative; 
    display: block;						
}

#menubarbackround .menulistmenu .menu { 
    width:100%;
    display: inline-block; 
}

#menubar a:hover {
    color:#FFFFFF;
    text-decoration:inherit;
    opacity: 1;
}
 
div#footer {
    bottom: 0px;
    left:0px;
    width:100%;
    background: linear-gradient(#B99E6B,#D7CCB9); 
    position:fixed;
}

img.teamimg {
    width: 25%;
    float: left;
    margin-top: 1.4%;
    margin-left: 2%;
}

p.teamp {
	margin-left: 30%;
	margin-right: 10%;
	display: block;
	}

div.teamimg {
    height :90%;
}

div.contactleft {
    float: left;
    width: 35%;
    margin-left: 7%;
    margin-top: 3%;
}

div.contactmap {
    float: left;
    width: 40%;
    height: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left:10%;
}

iframe.map {
    height: 40%;
    width:100%;
    border-color: black;
    box-shadow: 5px 5px 30px black;
}

div.contactarea {
    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 7%;
}

input.nameemail {
    border-color: rgb(220,220,220);
    outline-color: rgb(200,200,200);
    resize: none;
    width: 30%;
}

textarea.message {
    border-color: rgb(220,220,220);
    outline-color: rgb(200,200,200);
    resize: none;
    border: inset; 
    width: 70%;
}

input.submit {
    border : solid 1px #4d3f2a;
	border-radius : 3px;
	box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	font-size : 20px;
	color : rgb(237,233,223);
	padding : 0px 10px;
	background-color : #b19f6d;
    outline-color: rgb(200,200,200);
}

img.social {
    width: 50%;
    display: inline-block;
}

div.socialdiv {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 5%;
}

img.footlogo {
    width: 150%;
    margin-left: -26%;
}

img.sociallink {
    width: 25%;
    margin-left: 36%;
    margin-top: 35%;
    box-shadow: 5px 5px 5px black;
}

div.logocenter {
    width:20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
    margin-bottom: 4%;
}

div.footerwhole {
    background-color: rgb(240,240,240);
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}

.logocenter:hover {
    opacity: 0.7;
}

.brandicons:hover {
	 opacity:0.5;	 
}
 
 .brandicons { 
     width: 20%;		   
}
 
 .homeicons:hover {
     opacity:0.5;
}

.homeheader { 
    text-align:center;
}
			  
.homebuttons { 
    text-decoration: none;
    color: #B99E6B;
}

.homebuttons:hover { 
    color:#000000;
    text-decoration:underline;
    opacity: .7;
}
		
/**Portfolio Code **/

div.portfoliop {
	display:block;
	clear:both;
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 3%;
}

div.logo_gallery_container { 
	margin-top: 2%;
	margin-left: 43%;
	margin-right: 30%;
	margin-bottom: -2%;
}

.logo_gallery_container img {
	width:50%;
	height:50%;
}

.main_image_gallery .main_image {
  	margin-left: 7%;  
    margin-right: 7%; 
    margin-top: 5%;
    margin-bottom: 3%;
}

.main_image_gallery .main_image img {
	max-width:100%;
	max-height: 100%;
	display:none;
	margin: auto;
	box-shadow: 3px 3px 3px black;
}

.main_image_gallery .main_image img:target {
    display:block;
}

.main_image_gallery .main_image img:target ~ img#image9 {
    display:none;
}

.main_image_gallery .main_image img#image9 {
    display:block;
}

.image_box {
  	padding-bottom: 1em;
}

.image_gallery img {
 	max-width:100%;
	max-height: 100%;
 	padding: 0;
  	display: block;
  	border: none;
}

.image_gallery {
  	width:70%;
  	margin-left:auto;
  	margin-right:auto;
  	padding: 0;
  	overflow: auto;
  	list-style: none;
}

#aivia_center {
	width:58%;
  	margin-left:auto;
  	margin-right:auto;
  	padding: 0;
  	overflow: auto;
  	list-style: none;
}

.image_gallery li {
	max-width:33%;
	max-height: 100%;
	margin-bottom:5%;
	margin-top: 3%;
	margin-right: .3%;
  	padding: 3px;
  	float: left;
  	background-color: #ffffff;
  	border: 1px solid #e3e3e3;
  	border-radius: 2px;
}
.image_gallery li: {
  	clear: left;
}

.image_gallery li,.image_gallery li a {
  	float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.image_gallery li a {
  	text-decoration: none;
  	width: 100%;
  	margin-left: auto;
  	margin-right: auto;
  	outline: 4px solid transparent;
    -webkit-transition: outline .2s;
    -moz-transition: outline .2s;
    transition: outline .2s;
}

.image_gallery li a:hover {
  	outline-color: #D7CCB9;
}

/**Services Code **/

div.servicesp {
	display:block;
	clear:both;
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 3%;
}











/**Services Code **/
	
.homeicons { 
    display: inline;
    margin: 5%;
}

.brandicons {
    margin: 3%; 
}
 

#aivia {
    margin-bottom: 11%;
}

div.greydivteam {
	background-color: #FFFFFF;
	width: 100%;
	height:100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 3%;
	padding-bottom: 20%;
	clear: both;
	text-align: center;
}


div.whitedivteam {
	background-color: rgb(240,240,240);
	width: 100%;
	height:30%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 3%;
	padding-bottom: 20%;
	clear: both;
	text-align: center;
}

div.introteamdiv {
	background-color: #FFFFFF;
	width: 100%;
	height:100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 4%;
	padding-bottom: 5%;
	clear: both;
	text-align: center;
}

.portfoliop {text-align:center;
    {