body {
    background-image:url("img/white.jpg"),  
    url("img/bgimage.jpg");
    background-position: center;
    background-repeat: repeat-y, repeat;
    background-size: 70%, auto; 
    position: relative, absolute;
    }
img.banner {
	width: 70.9%;
	height:30%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	}